@import url("pygment_highlights.css");

/* --- General --- */

body {
  font-family: 'Montserrat', 'Times New Roman', serif;
  font-size: 18px;
  color: #404040;
  position: relative;
  background: #FFF;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  /* text-decoration: underline */
  color: #1697ce;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

h3 {
  margin-top: 40px;
}

.text-muted2 {
  opacity: .5;
}

h4 {
  margin: 40px 0 10px;
  line-height: 1.2;
}
a {
  color: #1697ce;
}
a:hover,
a:focus {
  color: #1697ce;
}
blockquote {
  color: #808080;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

.main-content li {
  padding: 5px 0;
}

.main-content {
  padding-top: 160px;
}
@media only screen and (min-width: 846px) {
  .main-content {
    padding-top: 190px;
  }
}

.main-explain-area {
  padding: 15px inherit;
}

.hideme {
  display: none;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #1697ce;
}
::selection {
  color: white;
  text-shadow: none;
  background: #1697ce;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

img {
  max-width: 100%;
}

.disqus-comments {
  margin-top: 30px;
}


@media only screen and (min-width: 846px) {
  .disqus-comments {
    margin-top: 40px;
  }
}

/* --- Navbar --- */

.navbar-custom {
  background: #4c4e57;
  border-bottom: 1px solid #EAEAEA;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  color: #fff;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus ,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #fff;
}


@media only screen and (min-width: 847px) and (max-width: 1060px) {
  .navbar-custom .nav>li>a {
    letter-spacing: 0;
  }
}


@media only screen and (min-width: 846px) {
  .navbar-custom {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-short {
    padding: 0;
  }
}

.navbar-custom .avatar-container {
  opacity: 1;
  position: absolute;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  left: 50%;
  width: 220px;
  margin-left: -110px;
  margin-top: -25px;
}
.navbar-custom .avatar-container  .avatar-img-border {
  width: 100%;
  border-radius: 0;
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.navbar-custom .avatar-container  .avatar-img {
  width: 100%;
  border-radius: 0;
  display: block;
}

.navbar-custom.top-nav-short .avatar-container{
  opacity: 0;
}

.navbar-custom.top-nav-expanded .avatar-container  {
  display: none;
}

.pull-right.img-right {
  padding-left:20px;
  padding-bottom:20px;
}

@media only screen and (max-width: 845px) {
  .navbar-custom .avatar-container {
    margin-top: -39px;
  }
  
  .pull-right.img-right {
    padding-bottom: 20px;
    float: none !important;
    display: block;
  }
}

@media only screen and (min-width: 846px) {
  .navbar-custom .avatar-container {
    width: 220px;
    margin-top: -50px;
  }

  .navbar-custom .avatar-container  .avatar-img-border {
    width: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  }
  
  .navbar-custom .avatar-container  .avatar-img {
    width: 100%;
  }
}

/* --- Footer --- */

.end {
  padding-bottom: 40px;
}
footer {
  padding: 30px 0;
  background: #e5f6fc;
  border-top: 1px #54bee5 solid;
  margin-top: 50px;
  font-size: 14px;
}

footer a {
  color: #404040;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .list-inline.footer-links {
  padding: 30px 0;
}
footer .copyright {
  text-align: center;
  margin-bottom: 0;
}
footer p.copyright {
  margin: 0 30px;
}


footer .theme-by {

  color: #bbb;
  text-align: center;
  margin: 10px 0 0;
}
footer .theme-by a{
  color: #bbb;
}

@media only screen and (min-width: 846px) {
  footer {
    padding: 50px 0;
  }
  footer .footer-links {
    font-size: 18px;
  }
  footer .copyright {
    font-size: 16px;
  }
}
 
/* --- Post preview --- */

.post-preview {
  border-bottom: 1px solid #eee;
}

@media only screen and (min-width: 846px) {
  .post-preview {
  }
}

.post-preview:last-child {
  border-bottom: 0;
}

.post-preview a:focus,
.post-preview a:hover {
  text-decoration: none;
  color: #0085a1;
}

.post-preview .post-title {
  font-size: 30px;
  margin-top: 0;
}
.post-preview .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview .post-meta,
.post-heading .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin: 0 0 10px;
}
.post-preview .post-entry {
}
.post-preview .post-read-more {
  font-weight: 800;
}

@media only screen and (min-width: 846px) {
  .post-preview .post-title {
    font-size: 36px;
  }
}

/* --- Post and page layout --- */

header.header-page {
  margin-bottom: 20px;
}

header.header-page .page-heading {
  text-align: center;
}

header.header-post .post-heading h1 {
  font-size: 35px;
  margin-top: 0;
}

header.header-page .page-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.header-post .post-heading .post-subheading,
header.header-page .page-heading .page-subheading {
  font-size: 27px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}

header.header-post .post-heading .post-subheading {
  margin-bottom: 20px;
}

@media only screen and (min-width: 846px) {
  header.header-post .post-heading h1 {
    font-size: 50px;
  }
}

@media only screen and (min-width: 846px) {
  header.header-page .page-heading h1 {
    font-size: 70px;
  }
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* --- Pager --- */

.pager li a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  background: #FFF;
  border-radius: 0;
  color: #404040;
}
@media only screen and (min-width: 846px) {
  .pager li a {
    padding: 15px 25px;
  }
}
.pager li a:hover,
.pager li a:focus {
  color: #FFF;
  background: #0085a1;
  border: 1px solid #0085a1;
}

.pager {
  margin: 10px 0 0;
}

.pager.blog-pager {
  margin-top: 0;
}

@media only screen and (min-width: 846px) {
  .pager.blog-pager  {
    margin-top: 10px;
  }
}

/* --- Tables --- */

.blog-post table {
  padding: 0;
}
.blog-post table tr {
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
.blog-post table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.blog-post table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.blog-post table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.blog-post table tr th :first-child,
.blog-post table tr td :first-child {
  margin-top: 0;
}
.blog-post table tr th :last-child,
.blog-post table tr td :last-child {
  margin-bottom: 0;
}


.navbar-nav.nav>li>a {
  padding-left: 25px;
  padding-right: 25px;
}

@media only screen and (min-width: 1310px) and (max-width: 1399px) {
  .navbar-nav.nav>li>a {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1309px) {
  .navbar-nav.nav>li>a {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 1120px) and (max-width: 1199px) {
  .navbar-nav.nav>li>a {
    padding-left: 8px;
    font-size: .8em;
    padding-right: 8px;

  }
}



@media only screen and (min-width: 846px) and (max-width: 1119px) {
  .navbar-nav.nav>li>a {
    padding: 4px 12px;
  }
  .navbar-nav.nav>li:nth-of-type(3) {
    clear: left;
  }
   .navbar-nav.nav>li:nth-of-type(1) {
  }
}
